%animate {
   transform: translate(0, rem(-30));
   opacity: 0;
   transition: opacity 0.8s ease 0s, transform 0.8s ease 0s;
   &._watcher-view {
      transform: translate(0, 0);
      opacity: 1;
   }
}
%animateTwo {
   transform: translate(0, rem(-30));
   opacity: 0;
   &._watcher-view {
      transform: translate(0, 0);
      opacity: 1;
      @for $var from 1 to 50 {
         $delay: $var * 0.1;
         &:nth-child(#{$var}) {
            @if $var == 1 {
               transition: all 0.8s ease 0s;
            } @else {
               transition: all 0.8s ease #{($delay - 0.1) + s};
            }
         }
      }
   }
}
//_flyImage========================================================================================================================================================
._flyImage-ibg {
   opacity: 1;
   position: fixed;
   z-index: 100;
   transition: all 0.7s ease 0s;
   pointer-events: none;
}
//Title========================================================================================================================================================
.title {
   text-align: center;
   @include adaptiveValue("font-size", 40, 24);
   font-weight: 700;
   line-height: math.div(48, 40);
   color: $mainColorTwo;
   @extend %animate;
   // .title_left
   &_left {
      text-align-last: left;
   }
   // .title_footer
   &_footer {
      @include adaptiveValue("font-size", 24, 20);
      font-weight: 700;
      line-height: math.div(29, 24);
      color: $blackColor;
   }
}
//Slider-Arrows========================================================================================================================================================
.slider-arrows {
   pointer-events: none;
   display: grid;
   grid-template-columns: repeat(2, rem(48));
   column-gap: rem(8);
   // .slider-arrows_prev
   &_prev {
      &::before{
         transform: rotate(90deg);
      }
   }
   // .slider-arrows_next
   &_next {
      &::before{
         transform: rotate(-90deg);
      }
   }
   // .slider-arrows__arrow
   &__arrow {
      pointer-events: auto;
      border-radius: 50%;
      height: rem(48);
      background-color: rgba(232, 159, 113, 0.3);
      transition: all 0.3s ease 0s;
      &::before{
         color: $orangeColor;
         font-size: rem(16);
         transition: all 0.3s ease 0s;
      }
      &_white {
         background-color: $whiteColor;
         box-shadow: (0px 4px 14px rgba(0, 0, 0, 0.16));
         &::before{
            color: $orangeColor;
            font-size: rem(16);
            transition: all 0.3s ease 0s;
         }
      }
      @media (any-hover: hover){
         &:hover{
            background-color: rgba(232, 159, 113, 1);
            &::before {
               color: $whiteColor;
            }
         }
      }
      @media (max-width: $mobile){
         background-color: rgba(232, 159, 113, 1);
         &::before {
            color: $whiteColor;
         }
      }
   }
}
.swiper-pagination-bullets {
   display: flex;
   flex-wrap: wrap;
   row-gap: rem(5);
   column-gap: rem(12);
}
.swiper-pagination-bullet {
   cursor: pointer;
   flex: 0 0 rem(27);
   height: rem(27);
   position: relative;
   display: flex;
   justify-content:center;align-items: center;
   &::after{
      content:'';
      width: rem(11);
      height: rem(11);
      background-color: $lightGrayColor;
      border-radius: 50%;
      transition: all 0.3s ease 0s;
   }
   &::before{
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: rem(1) solid $orangeColor;
      transition: all 0.3s ease 0s;
      transform: scale(0);
   }
}
.swiper-pagination-bullet-active {
   &::after {
      background-color: $orangeColor;
   }
   &::before {
      transform: scale(1);
   }
}
//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================
